body{
    margin: 0px;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.logo{
    width: 24px;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}